@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');

a:visited, a:link, a:active {
    text-decoration: none;
    font-family:  $font1;
    color: $color1;
}

body {
    font-family: $font1;  
    margin-top: 1rem;   
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    font-size: 16px;
}

.footer {
    background: $color6;
    padding: 20px;
    &_menu {
        display: flex;
        flex-direction: column;
    }
    & a {
        color: $color2;
        padding: 5px;
    }
    &_icon {
        margin-right: 5px;
    }
    & img {
        width: auto;
        height: 20px;
        padding: 10px 0 10px 0;
    }
}
