$color1: black;
$color2: #f6f6f6;
$color3: rgb(164,92,220); 
$color4: #FF79DA;
$color6: rgb(53,53,53);

$font1: "Roboto", sans-serif;
$font2: "Shrikhand", cursive;

@mixin button {   
    display: inline-block;
    padding: 1rem 1.5rem;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 100px;
    color: white;
    width: 200px;
    background: linear-gradient(to top left, $color3, $color4);
}
@mixin button-animation {
    border: none;
    cursor: pointer;
    transition: box-shadow 200ms linear, transform 200ms linear;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
    &:hover {
        transform: scale(0.98);
        box-shadow:0 5px 10px 0px rgba(0, 0, 0, 0.2);
    }
}