img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}
main {
    max-width: 1100px;
    margin: auto;
}
.background-resto {
    z-index: 1;
}

@media screen and (max-width: 959px) {
    .background-resto {
        max-height: 300px; 
    }
}
@media screen and (min-width: 960px) {
    .background-resto {
        max-height: 350px; 
    }
}
@media screen and (min-width: 1280px) {
    .background-resto {
        max-height: 400px; 
    }
}
.menu {
    z-index: 2;
    position: relative;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    transform: translateY(-50px);
    border-radius: 50px 50px 0 0;
    &_title {
        font-family: Shrikhand,"cursive";
    }
    &_header {
        position: relative;
        display: flex;
        flex-direction: row;
        margin-bottom: 30px;
        & .heart {
            margin: 0 15px;
            padding: 20px;
            color: black;
        }
    }
}
@media screen and (max-width: 959px) {
    .menu {
    padding: 35px 20px;
        &_header {
            justify-content: space-around;
        }
    }
}
@media screen and (min-width: 960px) {
    .menu {
        padding: 40px 30px;
    }
}
.choose {   
    margin-bottom: 30px; 
    /*display: grid;*/
    &_title {
        font-size:20px; 
    }
}
.meal {
    position: relative;
    top: 50px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    overflow: hidden;
    cursor: pointer;
    background: white;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow:0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125); 
    margin: 10px;
    animation: selection 1s cubic-bezier(0, 0, 0, 1) forwards;
    opacity: 0;
    &:hover &_confirm {
                transform: translateX(0px); }
    &:hover &_confirm_icon  {
                transform: rotate(0); } 
    &:hover &_price {
                margin-right: 60px;
    }
    &_name {
        font-weight: bold;
        line-height:2rem;
        width: calc(100% - 60px);
    }
    &_under {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &_description {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        transition: width 400ms, text-overflow 400ms;
    }
    &_price {
        font-weight: bold;
        transition-duration: 400ms;
    }
    &_confirm {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;       
        transition-duration: 400ms;
        transform: translateX(60px);
        &_bg {
            width: 60px;
            height: 100%;
            background: #99e2d0;
        }   
        &_icon {
            position: absolute;
            top: 0;
            
            height: 100%;
            width: 100%;
            color: $color2;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100px;
            transform: rotate(360deg);
            transition-duration: 2000ms;
        }
    }
    &_1 {animation-delay: 0.1s;}
    &_2 {animation-delay: 0.2s;}
    &_3 {animation-delay: 0.3s;}
    &_4 {animation-delay: 0.4s;}
    &_5 {animation-delay: 0.5s;}
    &_6 {animation-delay: 0.6s;}
    &_7 {animation-delay: 0.7s;}
    &_8 {animation-delay: 0.8s;}
    &_9 {animation-delay: 0.9s;}
    &_10 {animation-delay: 1s;}
}


@media screen and (min-width: 751px) {
    .chooseMeal {
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
        margin-left: -10px; 
    }
    .meal {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;

    }
}

.line {
    border-top: 3px solid #99e2d0;
    display: inline-block;
    width: 30px;
    margin: 10px;
}
