

.search {
    background: $color2;
    padding: 0px;
    text-align: center;
    &_txt1 {
        margin-right: 20px;
        margin-left: 20px;
        margin-top: 0;
    }  
    &_button a {
        @include button;
        display: inline-block;
        width: 200px;       
    } 
}


.op {
    text-align: start;
    margin-left: 30px;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}
.operation {  
    background: white; 
    text-align: center;
    margin-bottom: 30px;
    &_button {        
        display: inline-block;
        text-align: center;
        align-items: center;
        align-content: center;
        justify-content: center;
        position: relative;
        width: 330px;       
        
        &_marker {
            color: white;
            height: 1.5rem;
            width: 1.5rem;
            display:flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            background: #9356DC;
            position: absolute;
            left: 0px;
            bottom: 20px;
        }  
        &_frame {
            margin: 10px;
            padding: 5px;
            align-items: center;
            align-content: center;
            display: flex;
            border-radius: 1.5rem;
            background: #f6f6f6;  
            box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
            &_txt {               
                font-weight: bold;               
                padding-right: 25px;                               
            } 
            &_fas {
                padding: 25px;
                width: 2px;
                height: auto;
            }
        }
    } 
}