.search {
    background: $color2;
    padding: 40px;
    text-align: center;
    &_txt1 {
        margin-right: 20px;
        margin-left: 20px;
        margin-top: 0;
    }  
    &_button a {
        display: inline-block;    
        cursor: pointer;
        color: white;
        width: 200px;
        border-radius: 10rem;
        padding: 1rem;
        background: linear-gradient(to top left, $color3, $color4);
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
        border: none;
        margin: 20px;
        transition: box-shadow 200ms linear, transform 200ms linear;
        &:hover {
            transform: scale(0.98);
            box-shadow:0 5px 10px 0px rgba(0, 0, 0, 0.2);
        }
    } 
}